.homepageContainer {
  background-color: #ffc83a;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.homeLogo {
  display: flex;
  width: 50%;
}

.homeLogo img {
  width: 100%;
  object-fit: cover;
}

.homeText {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 2.5rem;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.pizzaBurger {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.pizzaBurger img {
  width: 80%;
}

.boyImage {
  width: 60%;
}

.boyImage img {
  width: 100%;
}

.homeButton {
  width: 100%;
}

.homeButton button {
  cursor: pointer;
}

@media all and (min-width: 1200px) {
  .homepageContainer {
    gap: 1rem;
  }

  .homeText {
    font-size: 20px;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .pizzaBurger {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pizzaBurger img {
    width: 75%;
  }

  .boyImage {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .boyImage img {
    width: 80%;
  }
}
